.App {
  text-align: center;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
} */

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.text {
  font-size: large;
}
.click-me-button {
  padding: 15px;
  margin: 10px;
}

.city-power-select {
  margin-left: 15px;
  width: 400px;
  align-self: center;
}

.PowerSelect PowerSelect {
  padding: 0;
}
.PowerSelect__Trigger span{
  position: relative;
  bottom: 5px;
}

.PowerSelect__SearchInputContainer{
  width: 90%;
}
/* 
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
